body {
    font-family: 'Abel';
}
.font-jac{
    font-family: "Jacques Francois Shadow", serif;
}


li{
    cursor: pointer;
}

#search-menu li {
    cursor: pointer;
    background-color: #f3f4f6;
}

